#tree {
  background: transparent;
}

#tree>svg {
  background: transparent;
}

.filter rect, .filter image, .filter text, .filter use {
     filter: grayscale(1) blur(2px);
}

.bft-edit-form-avatar>img {
    object-fit: cover;
    object-position: top;
}
